.Hero{
   width: 100%;
   min-height: 100vh;
   background: linear-gradient(rgba(0, 0, 0, 0.836),rgba(1, 0, 3, 0.801)), url(../../assetes/Hero.jpg) ;
   background-size: cover;
   background-position: center;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}
.Hero-Text{
    text-align: center;
    max-width: 800px;
}
.Bislella{
    color:yellow ;
}